*~
*.o
.handc.list

src

stage0/Makefile
stage0/install
stage0/autom4te.cache/
stage0/bci/bci.o
stage0/bci/bcinterp.o
stage0/config.h
stage0/config.log
stage0/config.status
stage0/configure

stage0/gc/
stage0/gcadapt/
stage0/hasht/Makefile
stage0/heapi/mapf.c
stage0/preamble.mak
stage0/rdln/
stage0/rshell/rs
stage0/runtime/dynlink.c
stage0/runtime/osglue.c
stage0/system.img
