*~
*.o
.handc.list

handc/autom4te.cache

src

stage0/Makefile
stage0/autom4te.cache/
stage0/config.h
stage0/config.log
stage0/config.status
stage0/configure

stage0/install/bin
stage0/install/include
stage0/install/lib
stage0/install/resource/buildenv
stage0/install/resource/system.img

stage0/gc/
stage0/gcadapt/
stage0/hasht/Makefile
stage0/heapi/mapf.c
stage0/preamble.mak
stage0/rdln/
stage0/rshell/rs
stage0/runtime/dynlink.c
stage0/runtime/osglue.c
stage0/system.img
